.msg_box{
    width: 40%;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
}

.right{
    color: black;
    background-color: lightgray;
    margin-left: auto;
    left: -5%;
}
.right:after{
    content:"";
    position: absolute;
    left: 100%;
    top: 26px;
    width: 0;
    height: 0;

    border-top: 13px solid transparent;
    border-left: 26px solid lightgray;
    border-bottom: 13px solid transparent;
}
.left{
    color:white;
    right: -5%;
    background-color: #0078FF;
}
.left:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;

    border-top: 13px solid transparent;
    border-right: 26px solid #0078FF;
    border-bottom: 13px solid transparent;
  }

