.right{
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: #25D366;
    margin-left: auto;
}
.left{
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    color:white;
    background-color: #075e54;
}
/* .center{
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightpink;
} */
