.right{
    width: 40%;
    border-radius: 10px;
    color: black;
    background-color: #00C6FF;
    margin-left: auto;
    left: -5%;
    position: relative;
}
.right:after{
    content:"";
    position: absolute;
    left: 100%;
    top: 26px;
    width: 0;
    height: 0;
    
    border-top: 13px solid transparent;
    border-left: 26px solid #00C6FF;
    border-bottom: 13px solid transparent;
}
.left{
    width: 40%;
    border-radius: 10px;
    color:white;
    right: -5%;
    background-color: #0078FF;
    position: relative;
}
.left:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    
    border-top: 13px solid transparent;
    border-right: 26px solid #0078FF;
    border-bottom: 13px solid transparent;
  }
  

