.sender{
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgreen;
}
.reciever{
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;
}
.bot{
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightpink;
}


