#game_board {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border: 4px solid black;
    background-image: url('../../../assets/BoardBorderBG.jpg');
    margin: 0px;
    padding: 0px;
}



.blocksUpWhite {
    position: absolute;
    top: 0;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.blocksUpBlack {
    position: absolute;
    top: 0;
    height: 45%;
    width: 100%;
    display: flex;
}

.centerDashBoard{
    position: absolute;
    top: 0;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.blocksDownWhite {
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    display: flex;
}

.blocksDownBlack {
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#leftSide {
    position: absolute;
    top: 2%;
    left: 5%;
    bottom: 2%;
    width: 36.5%;
    display: block;
    background-image: url('../../../assets/BoardBG.jpg');
}
#center {
    position: absolute;
    top: 2%;
    left: 43%;
    bottom: 2%;
    width: 100%;
    display: block;
}

#rightSide {
    position: absolute;
    top: 2%;
    left: 50%;
    bottom: 2%;
    width: 36.5%;
    display: block;
    background-image: url('../../../assets/BoardBG.jpg');
}

.tria_container{
    position: relative;
    width: 20%;
    height: 100%;
}

.bottom {
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}

.container-out{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    color: white;
    left:0;
    top: -13%;
    width: 10%;
    height: 50%;
    color: white;
    font-weight: bold;
}

.Container-elimenited{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;
    color: white;
    padding-top: 20px;
    width: 10%;
    color: white;
    left:90%;
    font-weight: bold;
}

#white-elimenited{
    top:0
}

#black-elimenited{
    top:70%
}

.oponent-turn{
    position: absolute;
    left:6%;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-weight: bold;
    font-size: 3vw;
    color: khaki;
}


