#game_board {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border: 4px solid black;
    background-image: url('../../../assets/BoardBorderBG.jpg');
    margin: 0px;
    padding: 0px;
}



.blocksUpWhite {
    position: absolute;
    top: 0;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.blocksUpBlack {
    position: absolute;
    top: 0;
    height: 45%;
    width: 100%;
    display: flex;
}

.centerDashBoard{
    position: absolute;
    top: 0;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.blocksDownWhite {
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    display: flex;
}

.blocksDownBlack {
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#leftSide {
    position: absolute;
    top: 2%;
    left: 5%;
    bottom: 2%;
    width: 36.5%;
    display: block;
    background-image: url('../../../assets/BoardBG.jpg');
}
#center {
    position: absolute;
    top: 2%;
    left: 43%;
    bottom: 2%;
    width: 100%;
    display: block;
}

#rightSide {
    position: absolute;
    top: 2%;
    left: 50%;
    bottom: 2%;
    width: 36.5%;
    display: block;
    background-image: url('../../../assets/BoardBG.jpg');
}

.tria_container{
    position: relative;
    width: 20%;
    height: 100%;
}

.bottom {
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}

.roll-btn{
    background: linear-gradient(60deg,  #5E9C2F,#5E9C2F);
    padding: 11px 22px;
    border-radius: 35px;
}

.container-out{
    position: absolute;
    font-size: 16px;
    color: white;
    padding-top: 20px;
    left:90%;
    color: white;
    font-weight: bold;
}

.oponent-turn{
    
    color: black;
    font-weight: bold;
    font-size: 26px;
    color: khaki;
}


