.Login{
    height: 50vh;
    width: 50%;
}
.errorMsg{
    color: red;
}
.container{
    background-color:var(--fourth-color);
    padding: 20px;
    border-radius: 15px;
}
.field{
    background-color: #fff ;
    color: var(--secondary-color);
    border-radius: 10px;
    outline: none;
}
.signup-link{
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.signup-link:hover{
    text-decoration: underline;
    opacity: 0.9;
}