.Login{
    height: 50vh;
    width: 100%;
}
.container{
    background-color: var(--fourth-color);
    border-color: white;
    border-style: solid;
    border-width: thick;
    box-shadow: inset 0px 0px 3px 3px black;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 350px;
    font-size: 20px;
}
.field{
    background-color: transparent ;
}
.signup-link{
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.signup-link:hover{
    text-decoration: underline;
    color: var(--hover-primary-color);
    opacity: 0.8;
}
p{
    color: red;
}

.typography_header{
    color: white;
}
.typography_content{
    color: white;
    padding: 10px;
}