.App{
    background: url('./assets/background.jpg');
    background-repeat: repeat;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    height: 110vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.components{
    padding-bottom: 2.5rem; 
}

.data_container{
    background: white;
    border-radius: 15px;
    margin-bottom: 350px;
    font-size: 20px;
}